# Gaussian Naive Bayes

### Imports

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from tqdm import tqdm
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectPercentile, f_classif

### Model 1
#### Read CSV

In [4]:
train_m1 = pd.read_csv('../../../../Data_AA2/train_m1.csv', sep = ',')
train_m1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0.37521,-0.756929,-1.925779,0.580938,-0.515445,0.939376,-0.453565,-0.763196,1.192581,0.001762,...,-0.561357,0.196894,-0.348973,0.188003,-0.118566,-0.651221,-0.324357,0.259352,0.395979,0
1,0.37521,1.471189,-0.283258,-0.824024,-0.515445,0.939376,-0.453565,1.310279,-0.098471,-0.713715,...,0.148956,0.196894,-0.348973,0.188003,0.837519,1.529013,-0.281151,0.769787,0.843536,0
2,0.37521,0.078615,-0.283258,1.049258,-0.515445,0.939376,-0.453565,-0.763196,-1.389523,1.432715,...,-0.561357,0.196894,-0.348973,0.188003,0.837519,-0.230686,0.950220,0.773829,0.843536,0
3,0.37521,-0.756929,-0.283258,-0.824024,-0.515445,-1.090085,-0.453565,1.310279,1.192581,1.432715,...,-0.206200,0.196894,-0.348973,0.188003,-0.118566,-0.651221,-0.324357,0.284758,0.395979,0
4,0.37521,-1.035444,-1.925779,1.049258,1.938451,0.939376,-0.453565,1.310279,0.762230,-0.713715,...,0.859269,0.196894,-0.348973,0.188003,0.646302,0.717242,0.885411,0.710313,0.329470,0

In [5]:
test_m1 = pd.read_csv('../../../../Data_AA2/test_m1.csv', sep = ',')
test_m1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0.37521,1.471189,-0.283258,0.580938,-0.515445,0.939376,-0.453565,1.310279,0.762230,0.717238,...,-0.561357,0.196894,-0.348973,0.188003,0.646302,0.717242,0.885411,0.710313,0.329470,0
1,0.37521,0.914159,-1.925779,-0.355703,-0.515445,-1.090085,-0.453565,1.310279,0.762230,1.432715,...,-0.561357,0.196894,-0.348973,0.188003,0.646302,0.717242,0.885411,0.709736,0.329470,0
2,0.37521,1.471189,-0.283258,0.580938,1.938451,0.939376,-0.453565,1.310279,0.762230,-1.429191,...,-0.561357,0.196894,-0.348973,0.188003,0.646302,0.717242,0.885411,0.711468,0.329470,0
3,0.37521,-0.756929,1.359263,-1.760665,-0.515445,-1.090085,-0.453565,-0.763196,0.762230,1.432715,...,-0.561357,0.196894,1.662067,-2.562036,-1.202130,-1.180338,-1.231682,-1.354522,-0.943918,0
4,0.37521,-1.035444,-0.283258,1.049258,1.938451,0.939376,-0.453565,-0.763196,-1.389523,0.717238,...,0.148956,0.196894,-0.348973,0.188003,0.837519,-0.230686,0.950220,0.771519,0.843536,0

In [6]:
#get target
train_m1_target = train_m1['y']
train_m1 = train_m1.drop(columns=['y'])

In [7]:
#get target
test_m1_target = test_m1['y']
test_m1 = test_m1.drop(columns=['y'])

#### Create and fit the model

In [8]:
# Create model with best parameters
gaussian_nb_model = GaussianNB()

# Fit the best model
gaussian_nb_model.fit(train_m1, train_m1_target)
gaussian_nb_model

GaussianNB()

In [9]:
predictions = gaussian_nb_model.predict(test_m1)

# Confusion matrix
confusion = pd.crosstab(test_m1_target,predictions, rownames=['Actual'], colnames=['Predicted'], margins=True)
print(confusion )

Predicted      0     1    All
Actual
0           9581  1387  10968
1            555   834   1389
All        10136  2221  12357

In [10]:
# Accuracy
score = accuracy_score(test_m1_target,predictions)
print('Accuracy:{0:f}'.format(score))

Accuracy:0.842842

In [11]:
# Report
print(classification_report(test_m1_target,predictions))

              precision    recall  f1-score   support

           0       0.95      0.87      0.91     10968
           1       0.38      0.60      0.46      1389

    accuracy                           0.84     12357
   macro avg       0.66      0.74      0.69     12357
weighted avg       0.88      0.84      0.86     12357

In [12]:
# Validate model using best model and cross validation
pecc_rf = cross_val_score(gaussian_nb_model, train_m1, train_m1_target, cv = 5).mean()
pecc_rf

0.8406577040983538

### Model 2
#### Read CSV

In [13]:
train_m2 = pd.read_csv('../../../../Data_AA2/train_m2.csv', sep = ',')
train_m2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,-1.836283,-1.028419,-1.910223,-0.420230,-0.009681,0.917326,-0.43243,-0.699689,1.145570,-0.014944,...,-0.187885,0.213335,-0.373253,0.190666,-0.011801,-0.548958,-0.289686,0.352458,0.470978,0
1,0.406241,-1.028419,1.292265,1.086428,-0.009681,-1.090125,-0.43243,-0.699689,-1.366988,1.415229,...,-0.556353,0.213335,-0.373253,0.190666,0.919127,-0.132418,0.937972,0.851480,0.899436,0
2,0.406241,0.353247,-1.910223,1.086428,-0.009681,0.917326,-0.43243,-0.699689,-0.529469,0.700143,...,-0.187885,0.213335,-0.373253,0.190666,0.919127,0.676764,-0.435341,0.849794,0.899436,0
3,0.406241,-0.475752,-0.308979,1.086428,-0.009681,-1.090125,-0.43243,-0.699689,-0.529469,1.415229,...,0.549049,0.213335,-0.373253,0.190666,0.919127,0.676764,-0.435341,0.850918,0.899436,0
4,0.406241,0.076914,-0.308979,1.086428,-0.009681,0.917326,-0.43243,-0.699689,-1.366988,0.700143,...,-0.556353,0.213335,-0.373253,0.190666,0.919127,-0.132418,0.937972,0.852604,0.899436,0

In [14]:
test_m2 = pd.read_csv('../../../../Data_AA2/test_m2.csv', sep = ',')
test_m2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0.406241,-0.752086,1.292265,-0.922449,-0.009681,0.917326,-0.43243,1.429206,-0.110709,-0.014944,...,2.759852,0.213335,-0.373253,0.190666,0.919127,1.610567,-0.248071,0.796408,0.899436,0
1,0.406241,1.458580,1.292265,0.584209,-0.009681,0.917326,-0.43243,1.429206,-0.110709,1.415229,...,0.180582,0.213335,-0.373253,0.190666,0.919127,1.610567,-0.248071,0.848670,0.899436,0
2,0.406241,-0.475752,-0.308979,1.086428,-0.009681,0.917326,-0.43243,-0.699689,-1.785748,1.415229,...,-0.556353,0.213335,3.485114,-2.416003,-1.066853,-0.762350,-1.350882,-1.142923,-0.811744,0
3,0.406241,-0.752086,-1.910223,-0.420230,-0.009681,0.917326,-0.43243,1.429206,-0.110709,1.415229,...,-0.556353,0.213335,-0.373253,0.190666,0.919127,1.610567,-0.248071,0.848670,0.899436,0
4,0.406241,0.076914,-0.308979,0.584209,-0.009681,-1.090125,-0.43243,1.429206,0.726810,-1.445118,...,-0.556353,0.213335,-0.373253,0.190666,0.732941,0.806507,0.875548,0.792474,0.407306,0

In [15]:
#get target
train_m2_target = train_m2['y']
train_m2 = train_m2.drop(columns=['y'])

In [16]:
#get target
test_m2_target = test_m2['y']
test_m2 = test_m2.drop(columns=['y'])

#### Create and fit the model

In [17]:
# Create model with best parameters
gaussian_nb_model = GaussianNB()

# Fit the best model
gaussian_nb_model.fit(train_m2, train_m2_target)
gaussian_nb_model

GaussianNB()

In [18]:
predictions = gaussian_nb_model.predict(test_m2)

# Confusion matrix
confusion = pd.crosstab(test_m2_target,predictions, rownames=['Actual'], colnames=['Predicted'], margins=True)
print(confusion )

Predicted     0     1   All
Actual
0          1950  6044  7994
1            29  1124  1153
All        1979  7168  9147

In [19]:
# Accuracy
score = accuracy_score(test_m2_target,predictions)
print('Accuracy:{0:f}'.format(score))

Accuracy:0.336066

In [20]:
# Report
print(classification_report(test_m2_target,predictions))

              precision    recall  f1-score   support

           0       0.99      0.24      0.39      7994
           1       0.16      0.97      0.27      1153

    accuracy                           0.34      9147
   macro avg       0.57      0.61      0.33      9147
weighted avg       0.88      0.34      0.38      9147

In [21]:
# Validate model using best model and cross validation
pecc_rf = cross_val_score(gaussian_nb_model, train_m2, train_m2_target, cv = 5).mean()
pecc_rf

0.3423924862728465

### Model 3
#### Read CSV

In [22]:
train_m3 = pd.read_csv('../../../../Data_AA2/train_m3.csv', sep = ',')
train_m3.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0.430712,1.468709,1.315671,0.575506,-0.009193,0.963609,-0.409284,1.511648,0.731850,0.727884,...,-0.167650,0.249588,-0.390321,0.162454,-0.975689,-1.023979,-1.142809,-1.113536,-0.696420,0
1,0.430712,-1.026811,1.315671,1.079601,-0.009193,0.963609,-0.409284,-0.661530,-0.508577,-0.709064,...,0.204000,0.249588,-0.390321,0.162454,0.971222,0.699099,-0.434338,0.905339,0.940431,0
2,0.430712,-1.026811,1.315671,1.079601,-0.009193,0.963609,-0.409284,-0.661530,-1.335529,0.009410,...,-0.167650,0.249588,-0.390321,0.162454,0.971222,-0.097719,0.901635,0.905889,0.940431,0
3,2.595616,0.359589,-0.284073,-1.944969,-0.009193,-1.037765,-0.409284,-0.661530,-0.922053,1.446358,...,-0.167650,0.249588,-0.390321,0.162454,-1.705780,-1.326568,1.529138,-1.430308,-1.655691,1
4,0.430712,1.468709,-0.284073,1.079601,-0.009193,-1.037765,-0.409284,-0.661530,-1.335529,-0.709064,...,0.947301,0.249588,-0.390321,0.162454,0.971222,-0.097719,0.901635,0.906989,0.940431,0

In [23]:
test_m3 = pd.read_csv('../../../../Data_AA2/test_m3.csv', sep = ',')
test_m3.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0.430712,-0.749531,-0.284073,-1.440874,-0.009193,0.963609,-0.409284,-0.661530,-0.508577,-0.709064,...,0.947301,0.249588,-0.390321,0.162454,0.971222,0.699099,-0.434338,0.904239,0.940431,0
1,0.430712,-1.026811,-0.284073,-0.432684,-0.009193,0.963609,-0.409284,1.511648,0.731850,0.009410,...,0.575650,0.249588,-0.390321,0.162454,0.788699,0.826859,0.840909,0.849244,0.469678,0
2,0.430712,-1.026811,-0.284073,-1.440874,-0.009193,0.963609,2.443291,1.511648,0.731850,0.727884,...,-0.539300,0.249588,-0.390321,0.162454,0.788699,0.826859,0.840909,0.847594,0.469678,0
3,0.430712,-1.026811,-0.284073,1.079601,-0.009193,0.963609,-0.409284,-0.661530,-0.095102,-0.709064,...,-0.539300,0.249588,1.459600,-2.255863,-1.644939,-0.906305,-0.049740,-1.155332,-0.986993,0
4,0.430712,-0.749531,-0.284073,-1.440874,-0.009193,0.963609,-0.409284,-0.661530,0.731850,0.727884,...,0.947301,0.249588,-0.390321,0.162454,-0.975689,-1.023979,-1.142809,-1.084388,-0.696420,0

In [24]:
#get target
train_m3_target = train_m3['y']
train_m3 = train_m3.drop(columns=['y'])

In [25]:
#get target
test_m3_target = test_m3['y']
test_m3 = test_m3.drop(columns=['y'])

#### Create and fit the model

In [26]:
# Create model with best parameters
gaussian_nb_model = GaussianNB()

# Fit the best model
gaussian_nb_model.fit(train_m3, train_m3_target)
gaussian_nb_model

GaussianNB()

In [27]:
predictions = gaussian_nb_model.predict(test_m3)

# Confusion matrix
confusion = pd.crosstab(test_m3_target,predictions, rownames=['Actual'], colnames=['Predicted'], margins=True)
print(confusion )

Predicted     0     1   All
Actual
0          1579  6381  7960
1            25  1162  1187
All        1604  7543  9147

In [28]:
# Accuracy
score = accuracy_score(test_m3_target,predictions)
print('Accuracy:{0:f}'.format(score))

Accuracy:0.299661

In [29]:
# Report
print(classification_report(test_m3_target,predictions))

              precision    recall  f1-score   support

           0       0.98      0.20      0.33      7960
           1       0.15      0.98      0.27      1187

    accuracy                           0.30      9147
   macro avg       0.57      0.59      0.30      9147
weighted avg       0.88      0.30      0.32      9147

In [30]:
# Validate model using best model and cross validation
pecc_rf = cross_val_score(gaussian_nb_model, train_m3, train_m3_target, cv = 5).mean()
pecc_rf

0.36617471856450023

### Model 4
#### Read CSV

In [40]:
train_m4 = pd.read_csv('../../../../Data_AA2/train_m4.csv', sep = ',')
train_m4.head()

,job,marital,education,default,contact,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,-0.757488,-0.283481,-0.812989,1.940072,1.31813,1.429549,-0.200356,0.197179,-0.349939,0.191532,0.653884,0.723327,0.876216,0.718640,0.340139,0
1,1.191788,1.357360,-0.345204,-0.515014,-0.75865,-0.718276,-0.561003,0.197179,-0.349939,0.191532,-1.183043,-1.172106,-1.229853,-1.356818,-0.922844,0
2,1.470256,1.357360,1.058149,-0.515014,-0.75865,-0.718276,0.160290,0.197179,-0.349939,0.191532,0.843911,-0.223529,0.940688,0.778940,0.850005,0
3,0.077916,-0.283481,1.058149,-0.515014,-0.75865,-1.434217,-0.561003,0.197179,-0.349939,0.191532,-0.106224,-0.643588,-0.327252,0.237966,0.406105,0
4,0.634852,1.357360,-0.812989,1.940072,-0.75865,-0.718276,0.520936,0.197179,-0.349939,0.191532,0.843911,0.592489,-0.477685,0.777217,0.850005,0

In [41]:
test_m4 = pd.read_csv('../../../../Data_AA2/test_m4.csv', sep = ',')
test_m4.head()

,job,marital,education,default,contact,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,-0.757488,-0.283481,-1.748558,-0.515014,-0.75865,-0.002334,-0.200356,0.197179,-0.349939,0.191532,0.843911,0.592489,-0.477685,0.778366,0.850005,0
1,1.470256,-0.283481,-1.748558,1.940072,1.31813,-1.434217,-0.561003,0.197179,-0.349939,0.191532,0.843911,1.534180,-0.284271,0.769751,0.850005,0
2,-1.035956,-0.283481,1.058149,-0.515014,-0.75865,1.429549,0.160290,0.197179,-0.349939,0.191532,0.843911,-0.223529,0.940688,0.779514,0.850005,0
3,-1.035956,-0.283481,-0.345204,1.940072,1.31813,-1.434217,-0.561003,0.197179,-0.349939,0.191532,0.653884,0.723327,0.876216,0.716917,0.340139,0
4,0.913320,-1.924321,-1.280773,1.940072,1.31813,-1.434217,0.520936,0.197179,-0.349939,0.191532,0.843911,0.592489,-0.477685,0.775494,0.850005,0

In [42]:
#get target
train_m4_target = train_m4['y']
train_m4 = train_m4.drop(columns=['y'])

In [43]:
#get target
test_m4_target = test_m4['y']
test_m4 = test_m4.drop(columns=['y'])

#### Create and fit the model

In [44]:
# Create model with best parameters
gaussian_nb_model = GaussianNB()

# Fit the best model
gaussian_nb_model.fit(train_m3, train_m3_target)
gaussian_nb_model

GaussianNB()

In [45]:
predictions = gaussian_nb_model.predict(test_m4)

# Confusion matrix
confusion = pd.crosstab(test_m4_target,predictions, rownames=['Actual'], colnames=['Predicted'], margins=True)
print(confusion )

ValueError: operands could not be broadcast together with shapes (12357,15) (20,)

In [37]:
# Accuracy
score = accuracy_score(test_m4_target,predictions)
print('Accuracy:{0:f}'.format(score))

ValueError: Found input variables with inconsistent numbers of samples: [12357, 9147]

In [38]:
# Report
print(classification_report(test_m4_target,predictions))

ValueError: Found input variables with inconsistent numbers of samples: [12357, 9147]

In [50]:
# Validate model using best model and cross validation
pecc_rf = cross_val_score(gaussian_nb_model, train_m4, train_m4_target, cv = 5).mean()
pecc_rf

0.899378994471457

### Model 5
#### Read CSV

In [ ]:
train_m5 = pd.read_csv('../../../../Data_AA2/train_m5.csv', sep = ',')
train_m5.head()

In [ ]:
test_m5 = pd.read_csv('../../../../Data_AA2/test_m5.csv', sep = ',')
test_m5.head()

In [ ]:
#get target
train_m5 = train_m5.drop(columns=['index'])
train_m5_target = train_m5['y']
train_m5 = train_m5.drop(columns=['y'])

In [ ]:
#get target
test_m5 = test_m5.drop(columns=['level_0'])
test_m5_target = test_m5['y']
test_m5 = test_m5.drop(columns=['y'])

#### Create and fit the model

In [ ]:
# Create model with best parameters
gaussian_nb_model = GaussianNB()

# Fit the best model
gaussian_nb_model.fit(train_m3, train_m3_target)
gaussian_nb_model